/* Global styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
body {
    font-family: "Noto Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
}

/* CSS HEX */

:root {
    /* Primary and Secondary Colors */
    --color-primary: #5ab1bb; /*moonstone */
    --color-secondary: #4e6766; /*feldgrau */

    /* Additional Palette */
    --dark-purple: #1e152a;
    --jasmine: #f7dd72; /* jasmine */
    --pistachio: #a5c882;
}

/* Navbar Styling */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
header {
    padding: 20px 0;
    background: url(../images/pexels-fauxels-3184434.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 20%;
}

.hero-text {
    color: whitesmoke;
    background-color: var(--dark-purple);
    padding: 2%;
    display: inline-block;
}

/* CTA Button */
.btn-primary {
    background-color: #a5c882; /* Warm inviting color */
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ff9800;
}

/* Principles Section */
#principles .card {
    background-color: var(--dark-purple);
    color: white;
}

/* Implement change Section */
.card {
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
    max-width: 50%;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Hints and tips */

.list-group-item {
    border: 1px solid transparent;
    padding: 8px 12px;
}

/* Footer */
footer {
    background-color: var(--dark-purple);
    color: white;
    padding: 20px;
    margin-top: auto;
}

footer a {
    color: var(--jasmine);
    text-decoration: none;
}

footer a:hover {
    color: var(--pistachio);
    text-decoration: underline;
}


/* Registration form page */

.registration-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

